.Header, h1, h3, a {
    font-family: "Orbitron", sans-serif;
}

.Montserrat, p {
    font-family: "Montserrat", serif;
    /* font-weight: bold; */
    font-style: italic;
   
} 

.transparente {
    position: relative;
    z-index: 1; 
}


.Perfil, .Logros {
    height: 80vh;
    background-color: #090612;
}

.Proyectos {
    background-color:  #090612;
    background-image: linear-gradient(to top, #070070 0%, #090612 75%);

}

.Wave img {
    animation: pulsate 2s infinite;
  }

@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
 
